﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="WebForm1.aspx.cs" Inherits="WebApp.WebForm1" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
</head>
<body>
    <% ="bei北京"+"uu上海" %>>
    <form id="form1" runat="server">
        <asp:RadioButtonList ID="rbtBChClass" runat="server">
            <asp:ListItem Value="B好">大夏館</asp:ListItem>
            <asp:ListItem Value="A号">大新館(台北市中正區延平南路127號)</asp:ListItem>
        </asp:RadioButtonList>
        <div>
            中国人名
        </div>
        <p>世界变化大啊</p>
        <asp:Label ID="lab" runat="server"></asp:Label>
        <asp:Button ID="ButTw" runat="server" OnClick="ButTw_Click" Text="繁体" />
        <asp:Button ID="ButCn" runat="server" OnClick="ButCn_Click" Text="简体" />
        <asp:Button ID="ButEn" runat="server" OnClick="ButEn_Click" Text="english" />
    </form>
</body>
</html>
